*{
    margin: 0;
    padding: 0;
}

.card{
    padding: 10;
    border: none;
}
button {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

button a {
    color: white;
    text-decoration: none;
}